!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Warranty Manager
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='node.js experimet to manage your device warranty')
    meta(name='author', content='anand sunderraman')
    link(href='http://netdna.bootstrapcdn.com/bootswatch/2.1.0/united/bootstrap.min.css', rel='stylesheet')
    link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-responsive.min.css', rel='stylesheet')
    style
      body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#home.brand(href='') Warranty Manager
          .nav-collapse
            ul.nav
              li
                a#accounts(href='') Your Accounts
              li
                a(href='#contact') Contact
            ul.nav.pull-right
              li
                if (typeof(email) !== undefined && email != '') 
                  a#email(href='#email') #{email}	
                else (typeof(googleLoginURI) !== undefined && googleLoginURI != '') 
                  a#login(href ='#{googleLoginURI}') Login With Google
          //
            /.nav-collapse 
    #home_page.container
      .hero-unit
        h1 Warranty Manager
        p One Stop Shop To Manage Warranty Of Your Devices
        p
          a.btn.btn-primary.btn-large Learn more 
      .row
        .span4
          h2 Manage Devices
          p  Keep track of devices and the warranty / guarantee periods for these devices
          p
            a.btn(href='#') View details 
        .span4
          h2 Get Notified
          p  Get email alerts notifying you which device's warranty has expired
          p
            a.btn(href='#') View details 
        .span4
          h2 Privacy
          p
            | Enjoy complete privacy as all the data is stored on google spreadsheets associated with your Google account
          p
            a.btn(href='#') View details 
    #account_page.container(style='display: none;')
      .row
        //
           SIde Menu 
        .span3
          ul.nav.nav-list
            li.active
              a(href='#') Your Accounts
        .span9
          .alert.alert-block
            h4  You have no accounts set up as yet, create one 
    #google_consent_modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='gc_modal_label', aria-hidden='true', style='display: none;')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') x
        h3#gc_modal_label  Google Consent
      .modal-body
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
    script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js')
    script
      $(document).ready(function()
      {
      $('a#accounts').click(function(event)
      {
      event.preventDefault();
      if( ! $(this).parent().hasClass('active'))
      {
      $(this).parent().addClass('active');
      $('div#home_page').hide('slide',{direction:'left'},500,function()
      {
      $('div#account_page').show('slide',{direction:'right'},500);
      });
      }
      });
      $('a#home').click(function(event)
      {
      event.preventDefault();
      if( ! $(this).parent().hasClass('active'))
      {
      $(this).parent().addClass('active');
      $('a#accounts').parent().toggleClass('active');
      $('div#account_page').hide('slide',{direction:'left'},500,function()
      {
      $('div#home_page').show('slide',{direction:'right'},500);
      });
      }
      });
      });
