!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Warranty Manager
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='node.js experimet to manage your device warranty')
    meta(name='author', content='anand sunderraman')
    link(href='http://netdna.bootstrapcdn.com/bootswatch/2.1.0/united/bootstrap.min.css', rel='stylesheet')
    link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/stylesheets/css/datepicker.css', rel='stylesheet')
    style
      body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      th,td
      {
      word-wrap:break-word
      }
      div#device_list
      {
      display: table;
      }
      div#device_list_controls
      {
      display: table;
      }
      a.device_data
      {
      margin-top: 10px;
      }
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#home.brand(href='') Warranty Manager
          .nav-collapse
            ul.nav
              li
                a#accounts(href='') Your Gadgets
              li
                a(href='#contact') Contact
            ul.nav.pull-right
              li
                if (typeof(email) !== undefined && email != '') 
                  a#email(href='#email') #{email}	
                else (typeof(googleLoginURI) !== undefined && googleLoginURI != '') 
                  a#login(href ='#{googleLoginURI}') Login With Google
    #home_page.container
      .hero-unit
        h1 Warranty Manager
        p One Stop Shop To Manage Warranty Of Your Devices
        p
          a.btn.btn-primary.btn-large Learn more 
      .row
        .span4
          h2 Manage Devices
          p  Keep track of devices and the warranty / guarantee periods for these devices
          p
            a.btn(href='#') View details 
        .span4
          h2 Get Notified
          p  Get email alerts notifying you which device's warranty has expired
          p
            a.btn(href='#') View details 
        .span4
          h2 Privacy
          p
            | Enjoy complete privacy as all the data is stored on google spreadsheets associated with your Google account
          p
            a.btn(href='#') View details 
    #account_page.container(style='display: none;')
      //
        div class="container" id="account_page"
      .row
        //
           SIde Menu 
        #device_list_panel.offset2.span8
          #load_alert.alert
            h4
              | Loading Data ...
              img(src='/stylesheets/img/ajax-loader.gif')
          table#device-table.table.table-hover.table-bordered
            thead
              tr
                th.label.label-info.span3
                  | Device Name
                th.label.label-info.span1
                  | Edit
                th.label.label-info.span1
                  | Delete
            tbody
          button#add_device_button.btn.btn-primary.span2 Add Device
          //
            button id="save_device" class="btn btn-primary span2">Save</button
    #add_device_modal.container(style='display: none;')
      .row
        .offset2.span8
          #add_device_err.alert.alert-block.alert-error.fade.in.hide
            h4.alert-heading Please Fill In All Fields 
          #save_alert.alert(style='display: none;')
          fieldset
            legend  Device Details 
            form.form-horizontal
              .control-group
                label.control-label(for='dev_name') Device Name
                .controls
                  input#dev_name(type='text', placeholder='Device Name')
              .control-group
                label.control-label(for='p_date') Purchase Date
                .controls
                  input#p_date(type='text', placeholder='Purchase Date')
              .control-group
                label.control-label(for='e_date') Expiry Date
                .controls
                  input#e_date(type='text', placeholder='Expiry Date')
              .control-group
                label.control-label(for='notes') Notes
                .controls
                  textarea#notes(rows='3', placeholder='Notes')
              .control-group
                .controls
                  label.checkbox
                    input(type='checkbox')
                    | Calendar Alert
              .control-group
                .controls
                  a#ok_btn.btn.pull-left(href='') Add
                  a#cancel_btn.btn.btn-primary.pull-left(href='') Cancel
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
    script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js')
    script(src='/stylesheets/js/bootstrap-datepicker.js')
    script(src='/stylesheets/js/warranty_manager.js')
