<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Warranty Manager</title>
    <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0">
    <meta name="description" content="node.js experimet to manage your device warranty">
    <meta name="author" content="anand sunderraman">

    
    <link href="http://netdna.bootstrapcdn.com/bootswatch/2.1.0/united/bootstrap.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="stylesheets/css/datepicker.css" rel="stylesheet">
	<link href="stylesheets/css/zimble.css" rel="stylesheet">
	
	
	
    
  
  </head>

  <body>

     <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" id="home" href="">Zimble</a>
          
            
			 <ul class="nav pull-right hidden-phone">
				<li>
				  <a id="login_usr" href="https://accounts.google.com/o/oauth2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&state=%2Fprofile&redirect_uri=http%3A%2F%2Flocalhost:3001%2Fwmrest%2Fauthorize&response_type=code&origin=http%3A%2F%2Flocalhost%3A3001&client_id=930662704169-25secosrcggebfi0o2782enonuqfq1p8.apps.googleusercontent.com" >Login With   <img src="stylesheets/img/google.png" /></a>
				 </li>
			</ul>

          
		 
        </div>
      </div>
    </div>
	
	<div class="container" id="home_page" >
	
		<div class="row">
			
			<div class="offset2 span2 label label-info hidden-phone">
				<div class="intro ">
					<h1>?</h1>
				</div>
			</div>
			
			<div class="span5 label label-info" id="what">
					<h3> What's It</h3><br/>
					<div class="intro_text">
							<ul class="unstyled">
							  <li>Utility To Store Device / Gadget Info</li>
							  <li>Maintain Service Log </li>
							  <li>Get Reminders </li>
							  <li>Everything Online !!</li>
							  <li><a class="intro_link" id="example">See Example >> </a></li>
							</ul>
					</div>
					
			</div>
		</div> <br/>
		
		
		<div class="row">
		
			<div class="offset2 span5 label label-info" id="diff">
						<h3> How's It Built</h3><br/>
						<div class="intro_text">
								<ul class="unstyled">
								  <li>NodeJS</li>
								  <li>Twitter BootStrap</li>
								  <li>Google OAuth 2.0</li>
								  <li>Google Spreadsheet API</li>
								  <li>Google Calendar API</li>
								</ul>
						</div>
			</div>
			<div class="span2 label label-info hidden-phone">
				<div class="intro">
					<h1>!</h1>
				</div>
			</div>
		
		</div>
		
		<br/>
		
		<div class="row">
		
			<div class="offset2 span2 label label-info hidden-phone">
				<div class="intro2">
					<h1>@</h1>
				</div>
			</div>
			<div class="span5 label label-info" id="how">
				<h3> What's Cool</h3><br/>
				<div class="intro_text">
					<ul class="unstyled">
					  <li>Data In YOUR Google Spreadsheets</li>
					  <li>Reminders In YOUR Google Calendar</li>
					  <li>Data Privacy</li>
					</ul>
				</div>
			</div>
			
		</div>
		
		<br/>
		
		<div class="row">
			<div class="offset2 span5 label label-info" id="who">
						<h3> Who's Created It</h3><br/>
						<div class="intro_text">
							<ul class="unstyled">
							  <li>Anand Sunderraman</li>
							  <li>Experimenting On NodeJS</li>
							  <li>Built It Just For FUN !!</li>
							</ul>
						</div>
			</div>
				<div class=" span2 label label-info hidden-phone">
				<div class="intro2">
					<h1>#</h1>
				</div>
			</div>
		
		</div>
	
		<br/>
		
		
	</div>
	
	
	<div class="container" id="account_page" style="display:none;">
	<!--div class="container" id="account_page"-->
		    <div class="row">
				<!-- SIde Menu -->
				
				<div class="offset2 span8" id="device_list_panel">
					<div class="alert" id="load_alert">
						<h4> Loading Data ... <img src="stylesheets/img/ajax-loader.gif" /> </h4>   
					</div>
					<table class="table table-hover table-bordered" id="device-table">
						<thead >
						<tr>
							<th class="label label-info span3">
								Device Name  
							</th>
							<th class="label label-info span1">
								Edit
							</th>
							<th class="label label-info span1">
								 Delete
							</th>
							
						</tr>
					</thead>
					<tbody>
					</tbody>
					</table> 
						<button id="add_device_button" class="btn btn-primary span2">Add Device</button>
						<!--button id="save_device" class="btn btn-primary span2">Save</button-->
					
				</div>
				
			</div>
	</div>
		
	
	 <div class="container" id="add_device_modal" style="display:none;">
		
		<div class="row">
		
			<div class="offset2 span8" >
		
		  <div class="alert alert-block alert-error fade in hide" id="add_device_err">
				<h4 class="alert-heading">Please Fill In All Fields </h4>
		  </div>
		  <div class="alert" id="save_alert" style="display:none;"></div>
		  <fieldset>
		  
					  <legend> Device Details </legend>
					  <form class="form-horizontal">
						  <div class="control-group">
							<label class="control-label" for="dev_name">Device Name</label>
							<div class="controls">
							  <input type="text" id="dev_name" placeholder="Device Name">
							</div>
						  </div>
						  
						   <div class="control-group">
							<label class="control-label" for="p_date">Purchase Date</label>
							<div class="controls">
							  <input type="text" id="p_date" placeholder="Purchase Date">
							</div>
						  </div>
						  
						   <div class="control-group">
							<label class="control-label" for="e_date">Expiry Date</label>
							<div class="controls">
							  <input type="text" id="e_date" placeholder="Expiry Date">
							</div>
						  </div>
						  
						   <div class="control-group">
							<label class="control-label" for="notes">Notes</label>
							<div class="controls">
							  <textarea rows="3" id="notes" placeholder="Notes"></textarea>
							</div>
						  </div>
						  
						  <div class="control-group">
							<div class="controls">
							  <label class="checkbox">
								<input type="checkbox"> Calendar Alert
							  </label>
							</div>
						  </div>
						  
						  <div class="control-group">
							<div class="controls">
							  	<a href="" class="btn pull-left" id="ok_btn">Add</a>
								<a href="" class="btn btn-primary pull-left" id="cancel_btn">Cancel</a>
							</div>
						  </div>
						  
						</form>
			</fieldset>
			</div>
		</div>
	</div>
	
	 <div class="container" id="example_data" style="display:none;">
		
		<div class="row">
		
			<div class="offset2 span8">
				
					<a href="" class="btn btn-primary pull-right" id="back_home"><i class="icon-home"></i> &nbsp;Home </a>
				
			</div>
		
		</div>
		
		<div class="row">
			
			<div class="offset2 span8">
			
				<ul class="nav nav-tabs">
				  <li class="active"><a href="#dev_info" data-toggle="tab">Device Info </a></li>
				  <li><a href="#service_log" data-toggle="tab">Service Log</a></li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane fade in active" id="dev_info">
						<div class="alert alert-info" >
							<h4> Example For Storing Device Info</h4><br/>
							<p>
								<strong>  Device Name   </strong> - can be whatever name you choose. eg. <strong> Sony Xperia Mobile </strong> <br/>
								<strong>  Purchase Date  </strong> - date a device was purchased eg. <strong> 12/12/2012 </strong> <br/>
								<strong>  Expiry Date  </strong> - date warranty of the device expires eg. <strong> 12/6/2013 </strong> <br/>
								<strong>  Notes  </strong> - can contain comments for personal reference  <br/>
								<strong>  Calendar Alert  </strong> -  if checked, creates an event in Google Calendar, to indicate the completion of warranty period <br/>
								
							</p>
						</div>
					</div>
					<div class="tab-pane fade in" id="service_log">
							<div class="alert alert-info" >
							<h4> Example For Storing Service Info</h4><br/>
							<p>
								<strong>  Device Name  </strong> -  device / gadget / item that was serviced eg. <strong> Bajaj Pulsar </strong>  <br/>
								<strong>  Purchase Date  </strong> -  date it was serviced eg. <strong> 12/12/2012 </strong> <br/>
								<strong>  Expiry Date  </strong> - date it is next due for service eg. <strong> 12/3/2013 </strong> <br/>
								<strong>  Notes  </strong> - can contain comments for personal reference. eg. <strong> Tyres changed etc. </strong> <br/>
								<strong>  Calendar Alert  </strong> - if checked, creates an event in Google Calendar for the next service due date <br/>
								
							</p>
						</div>
					</div>
				</div>
				
				
			
			</div>
			
		</div>
		
	 </div>
	 
	<div class="navbar navbar-fixed-bottom visible-phone">
		<div class="navbar-inner">
			 <div class="container footer">
				 <ul class="nav">
					<li>
					  <a id="login_usr" href="https://accounts.google.com/o/oauth2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&state=%2Fprofile&redirect_uri=http%3A%2F%2Flocalhost:3001%2Fwmrest%2Fauthorize&response_type=code&origin=http%3A%2F%2Flocalhost%3A3001&client_id=930662704169-25secosrcggebfi0o2782enonuqfq1p8.apps.googleusercontent.com" >Login With   <img src="stylesheets/img/google.png" /></a>
					 </li>
				</ul>
			 </div>
		</div>
	</div>
	
	  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js"></script>
	  <script src="stylesheets/js/bootstrap-datepicker.js"></script>
	  <script src="stylesheets/js/warranty_manager.js"></script>
	  
	 
  </body>
</html>
