!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Warranty Manager
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='node.js experimet to manage your device warranty')
    meta(name='author', content='anand sunderraman')
    link(href='http://netdna.bootstrapcdn.com/bootswatch/2.1.0/united/bootstrap.min.css', rel='stylesheet')
    link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/stylesheets/css/datepicker.css', rel='stylesheet')
    style
      body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      th,td
      {
      word-wrap:break-word
      }
      div#device_list
      {
      display: table;
      }
      div#device_list_controls
      {
      display: table;
      }
      a.device_data
      {
      margin-top: 10px;
      }
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#home.brand(href='') Warranty Manager
          .nav-collapse
            ul.nav
              li
                a#accounts(href='') Your Gadgets
              li
                a(href='#contact') Contact
            ul.nav.pull-right
               li
                if (typeof(email) !== undefined && email != '') 
                  a#email(href='#email') #{email}	
                else (typeof(googleLoginURI) !== undefined && googleLoginURI != '') 
                  a#login(href ='#{googleLoginURI}') Login With Google
    #home_page.container
      .hero-unit
        h1 Warranty Manager
        p One Stop Shop To Manage Warranty Of Your Devices
        p
          a.btn.btn-primary.btn-large Learn more 
      .row
        .span4
          h2 Manage Devices
          p  Keep track of devices and the warranty / guarantee periods for these devices
          p
            a.btn(href='#') View details 
        .span4
          h2 Get Notified
          p  Get email alerts notifying you which device's warranty has expired
          p
            a.btn(href='#') View details 
        .span4
          h2 Privacy
          p
            | Enjoy complete privacy as all the data is stored on google spreadsheets associated with your Google account
          p
            a.btn(href='#') View details 
    #account_page.container(style='display: none;')
      //
        div class="container" id="account_page"
      .row
        //
           SIde Menu 
        .span2
          ul.nav.nav-list
            li.active
              a(href='#') Your Gadgets
        .span10
          #load_alert.alert
            h4
              | Loading Data ...
              img(src='/stylesheets/img/ajax-loader.gif')
          table#device-table.table.table-hover.table-bordered
            thead
              tr
                th.label.label-info.span2
                  | Device Name
                th.label.label-info.span2
                  | Coverage Expiry
            tbody
          button#add_device_button.btn.btn-primary.span2 Add Device
          button#save_device.btn.btn-primary.span2 Save
    #add_device_modal.modal.hide.fade
      .modal-header
        //
          button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button
        h3 Device Details
      .modal-body
        #add_device_err.alert.alert-block.alert-error.fade.in.hide
          h4.alert-heading Please Fill In All Fields 
        input#dev_name.span2(type='text', placeholder='Device Name', data-placement='right', data-original-title='Enter Device Name')
        br
        input#mod_det.span2(type='text', placeholder='Model Details', data-placement='right', data-original-title='Enter Model Details')
        br
        input#p_date.span2(type='text', placeholder='Purchase Date', readonly='readonly', data-placement='right', data-original-title='Enter Purchase Date')
        br
        input#c_period.span2(type='number', placeholder='Coverage Period', rel='tooltip', data-placement='right', data-original-title='Enter # of Months')
        br
        select#timezone.span2(rel='tooltip', data-placement='right', data-original-title='Select Timezone', style='display: none;')
          option(value='-1') Select Timezone For Alert
          option(value='Pacific/Midway') (GMT-11:00) Midway
          option(value='Pacific/Niue') (GMT-11:00) Niue
          option(value='Pacific/Pago_Pago') (GMT-11:00) Pago Pago
          option(value='Pacific/Honolulu') (GMT-10:00) Hawaii Time
          option(value='Pacific/Johnston') (GMT-10:00) Johnston
          option(value='Pacific/Rarotonga') (GMT-10:00) Rarotonga
          option(value='Pacific/Tahiti') (GMT-10:00) Tahiti
          option(value='Pacific/Marquesas') (GMT-09:30) Marquesas
          option(value='America/Anchorage') (GMT-09:00) Alaska Time
          option(value='Pacific/Gambier') (GMT-09:00) Gambier
          option(value='America/Los_Angeles') (GMT-08:00) Pacific Time
          option(value='America/Tijuana') (GMT-08:00) Pacific Time - Tijuana
          option(value='America/Vancouver') (GMT-08:00) Pacific Time - Vancouver
          option(value='America/Whitehorse') (GMT-08:00) Pacific Time - Whitehorse
          option(value='Pacific/Pitcairn') (GMT-08:00) Pitcairn
          option(value='America/Dawson_Creek') (GMT-07:00) Mountain Time - Dawson Creek
          option(value='America/Denver') (GMT-07:00) Mountain Time
          option(value='America/Edmonton') (GMT-07:00) Mountain Time - Edmonton
          option(value='America/Hermosillo') (GMT-07:00) Mountain Time - Hermosillo
          option(value='America/Mazatlan') (GMT-07:00) Mountain Time - Chihuahua, Mazatlan
          option(value='America/Phoenix') (GMT-07:00) Mountain Time - Arizona
          option(value='America/Yellowknife') (GMT-07:00) Mountain Time - Yellowknife
          option(value='America/Belize') (GMT-06:00) Belize
          option(value='America/Chicago') (GMT-06:00) Central Time
          option(value='America/Costa_Rica') (GMT-06:00) Costa Rica
          option(value='America/El_Salvador') (GMT-06:00) El Salvador
          option(value='America/Guatemala') (GMT-06:00) Guatemala
          option(value='America/Managua') (GMT-06:00) Managua
          option(value='America/Mexico_City') (GMT-06:00) Central Time - Mexico City
          option(value='America/Regina') (GMT-06:00) Central Time - Regina
          option(value='America/Tegucigalpa') (GMT-06:00) Central Time - Tegucigalpa
          option(value='America/Winnipeg') (GMT-06:00) Central Time - Winnipeg
          option(value='Pacific/Easter') (GMT-06:00) Easter Island
          option(value='Pacific/Galapagos') (GMT-06:00) Galapagos
          option(value='America/Bogota') (GMT-05:00) Bogota
          option(value='America/Cayman') (GMT-05:00) Cayman
          option(value='America/Grand_Turk') (GMT-05:00) Grand Turk
          option(value='America/Guayaquil') (GMT-05:00) Guayaquil
          option(value='America/Havana') (GMT-05:00) Havana
          option(value='America/Iqaluit') (GMT-05:00) Eastern Time - Iqaluit
          option(value='America/Jamaica') (GMT-05:00) Jamaica
          option(value='America/Lima') (GMT-05:00) Lima
          option(value='America/Montreal') (GMT-05:00) Eastern Time - Montreal
          option(value='America/Nassau') (GMT-05:00) Nassau
          option(value='America/New_York') (GMT-05:00) Eastern Time
          option(value='America/Panama') (GMT-05:00) Panama
          option(value='America/Port-au-Prince') (GMT-05:00) Port-au-Prince
          option(value='America/Toronto') (GMT-05:00) Eastern Time - Toronto
          option(value='America/Caracas') (GMT-04:30) Caracas
          option(value='America/Anguilla') (GMT-04:00) Anguilla
          option(value='America/Antigua') (GMT-04:00) Antigua
          option(value='America/Aruba') (GMT-04:00) Aruba
          option(value='America/Asuncion') (GMT-04:00) Asuncion
          option(value='America/Barbados') (GMT-04:00) Barbados
          option(value='America/Boa_Vista') (GMT-04:00) Boa Vista
          option(value='America/Campo_Grande') (GMT-04:00) Campo Grande
          option(value='America/Cuiaba') (GMT-04:00) Cuiaba
          option(value='America/Curacao') (GMT-04:00) Curacao
          option(value='America/Dominica') (GMT-04:00) Dominica
          option(value='America/Grenada') (GMT-04:00) Grenada
          option(value='America/Guadeloupe') (GMT-04:00) Guadeloupe
          option(value='America/Guyana') (GMT-04:00) Guyana
          option(value='America/Halifax') (GMT-04:00) Atlantic Time - Halifax
          option(value='America/La_Paz') (GMT-04:00) La Paz
          option(value='America/Manaus') (GMT-04:00) Manaus
          option(value='America/Martinique') (GMT-04:00) Martinique
          option(value='America/Montserrat') (GMT-04:00) Montserrat
          option(value='America/Port_of_Spain') (GMT-04:00) Port of Spain
          option(value='America/Porto_Velho') (GMT-04:00) Porto Velho
          option(value='America/Puerto_Rico') (GMT-04:00) Puerto Rico
          option(value='America/Rio_Branco') (GMT-04:00) Rio Branco
          option(value='America/Santiago') (GMT-04:00) Santiago
          option(value='America/Santo_Domingo') (GMT-04:00) Santo Domingo
          option(value='America/St_Kitts') (GMT-04:00) St. Kitts
          option(value='America/St_Lucia') (GMT-04:00) St. Lucia
          option(value='America/St_Thomas') (GMT-04:00) St. Thomas
          option(value='America/St_Vincent') (GMT-04:00) St.Vincent
          option(value='America/Thule') (GMT-04:00) Thule
          option(value='America/Tortola') (GMT-04:00) Tortola
          option(value='Antarctica/Palmer') (GMT-04:00) Palmer
          option(value='Atlantic/Bermuda') (GMT-04:00) Bermuda
          option(value='America/St_Johns') (GMT-03:30) Newfoundland Time - St. Johns
          option(value='America/Araguaina') (GMT-03:00) Araguaina
          option(value='America/Argentina/Buenos_Aires') (GMT-03:00) Buenos Aires
          option(value='America/Bahia') (GMT-03:00) Salvador
          option(value='America/Belem') (GMT-03:00) Belem
          option(value='America/Cayenne') (GMT-03:00) Cayenne
          option(value='America/Fortaleza') (GMT-03:00) Fortaleza
          option(value='America/Godthab') (GMT-03:00) Godthab
          option(value='America/Maceio') (GMT-03:00) Maceio
          option(value='America/Miquelon') (GMT-03:00) Miquelon
          option(value='America/Montevideo') (GMT-03:00) Montevideo
          option(value='America/Paramaribo') (GMT-03:00) Paramaribo
          option(value='America/Recife') (GMT-03:00) Recife
          option(value='America/Sao_Paulo') (GMT-03:00) Sao Paulo
          option(value='Antarctica/Rothera') (GMT-03:00) Rothera
          option(value='Atlantic/Stanley') (GMT-03:00) Stanley
          option(value='America/Noronha') (GMT-02:00) Noronha
          option(value='Atlantic/South_Georgia') (GMT-02:00) South Georgia
          option(value='America/Scoresbysund') (GMT-01:00) Scoresbysund
          option(value='Atlantic/Azores') (GMT-01:00) Azores
          option(value='Atlantic/Cape_Verde') (GMT-01:00) Cape Verde
          option(value='Africa/Abidjan') (GMT+00:00) Abidjan
          option(value='Africa/Accra') (GMT+00:00) Accra
          option(value='Africa/Bamako') (GMT+00:00) Bamako
          option(value='Africa/Banjul') (GMT+00:00) Banjul
          option(value='Africa/Bissau') (GMT+00:00) Bissau
          option(value='Africa/Casablanca') (GMT+00:00) Casablanca
          option(value='Africa/Conakry') (GMT+00:00) Conakry
          option(value='Africa/Dakar') (GMT+00:00) Dakar
          option(value='Africa/El_Aaiun') (GMT+00:00) El Aaiun
          option(value='Africa/Freetown') (GMT+00:00) Freetown
          option(value='Africa/Lome') (GMT+00:00) Lome
          option(value='Africa/Monrovia') (GMT+00:00) Monrovia
          option(value='Africa/Nouakchott') (GMT+00:00) Nouakchott
          option(value='Africa/Ouagadougou') (GMT+00:00) Ouagadougou
          option(value='Africa/Sao_Tome') (GMT+00:00) Sao Tome
          option(value='America/Danmarkshavn') (GMT+00:00) Danmarkshavn
          option(value='Atlantic/Canary') (GMT+00:00) Canary Islands
          option(value='Atlantic/Faroe') (GMT+00:00) Faeroe
          option(value='Atlantic/Reykjavik') (GMT+00:00) Reykjavik
          option(value='Atlantic/St_Helena') (GMT+00:00) St Helena
          option(value='Etc/GMT') (GMT+00:00) GMT (no daylight saving)
          option(value='Europe/Dublin') (GMT+00:00) Dublin
          option(value='Europe/Lisbon') (GMT+00:00) Lisbon
          option(value='Europe/London') (GMT+00:00) London
          option(value='Africa/Algiers') (GMT+01:00) Algiers
          option(value='Africa/Bangui') (GMT+01:00) Bangui
          option(value='Africa/Brazzaville') (GMT+01:00) Brazzaville
          option(value='Africa/Ceuta') (GMT+01:00) Ceuta
          option(value='Africa/Douala') (GMT+01:00) Douala
          option(value='Africa/Kinshasa') (GMT+01:00) Kinshasa
          option(value='Africa/Lagos') (GMT+01:00) Lagos
          option(value='Africa/Libreville') (GMT+01:00) Libreville
          option(value='Africa/Luanda') (GMT+01:00) Luanda
          option(value='Africa/Malabo') (GMT+01:00) Malabo
          option(value='Africa/Ndjamena') (GMT+01:00) Ndjamena
          option(value='Africa/Niamey') (GMT+01:00) Niamey
          option(value='Africa/Porto-Novo') (GMT+01:00) Porto-Novo
          option(value='Africa/Tunis') (GMT+01:00) Tunis
          option(value='Africa/Windhoek') (GMT+01:00) Windhoek
          option(value='Europe/Amsterdam') (GMT+01:00) Amsterdam
          option(value='Europe/Andorra') (GMT+01:00) Andorra
          option(value='Europe/Belgrade') (GMT+01:00) Central European Time - Belgrade
          option(value='Europe/Berlin') (GMT+01:00) Berlin
          option(value='Europe/Brussels') (GMT+01:00) Brussels
          option(value='Europe/Budapest') (GMT+01:00) Budapest
          option(value='Europe/Copenhagen') (GMT+01:00) Copenhagen
          option(value='Europe/Gibraltar') (GMT+01:00) Gibraltar
          option(value='Europe/Luxembourg') (GMT+01:00) Luxembourg
          option(value='Europe/Madrid') (GMT+01:00) Madrid
          option(value='Europe/Malta') (GMT+01:00) Malta
          option(value='Europe/Monaco') (GMT+01:00) Monaco
          option(value='Europe/Oslo') (GMT+01:00) Oslo
          option(value='Europe/Paris') (GMT+01:00) Paris
          option(value='Europe/Prague') (GMT+01:00) Central European Time - Prague
          option(value='Europe/Rome') (GMT+01:00) Rome
          option(value='Europe/Stockholm') (GMT+01:00) Stockholm
          option(value='Europe/Tirane') (GMT+01:00) Tirane
          option(value='Europe/Vaduz') (GMT+01:00) Vaduz
          option(value='Europe/Vienna') (GMT+01:00) Vienna
          option(value='Europe/Warsaw') (GMT+01:00) Warsaw
          option(value='Europe/Zurich') (GMT+01:00) Zurich
          option(value='Africa/Blantyre') (GMT+02:00) Blantyre
          option(value='Africa/Bujumbura') (GMT+02:00) Bujumbura
          option(value='Africa/Cairo') (GMT+02:00) Cairo
          option(value='Africa/Gaborone') (GMT+02:00) Gaborone
          option(value='Africa/Harare') (GMT+02:00) Harare
          option(value='Africa/Johannesburg') (GMT+02:00) Johannesburg
          option(value='Africa/Kigali') (GMT+02:00) Kigali
          option(value='Africa/Lubumbashi') (GMT+02:00) Lubumbashi
          option(value='Africa/Lusaka') (GMT+02:00) Lusaka
          option(value='Africa/Maputo') (GMT+02:00) Maputo
          option(value='Africa/Maseru') (GMT+02:00) Maseru
          option(value='Africa/Mbabane') (GMT+02:00) Mbabane
          option(value='Africa/Tripoli') (GMT+02:00) Tripoli
          option(value='Asia/Amman') (GMT+02:00) Amman
          option(value='Asia/Beirut') (GMT+02:00) Beirut
          option(value='Asia/Damascus') (GMT+02:00) Damascus
          option(value='Asia/Gaza') (GMT+02:00) Gaza
          option(value='Asia/Jerusalem') (GMT+02:00) Jerusalem
          option(value='Asia/Nicosia') (GMT+02:00) Nicosia
          option(value='Europe/Athens') (GMT+02:00) Athens
          option(value='Europe/Bucharest') (GMT+02:00) Bucharest
          option(value='Europe/Chisinau') (GMT+02:00) Chisinau
          option(value='Europe/Helsinki') (GMT+02:00) Helsinki
          option(value='Europe/Istanbul') (GMT+02:00) Istanbul
          option(value='Europe/Kiev') (GMT+02:00) Kiev
          option(value='Europe/Riga') (GMT+02:00) Riga
          option(value='Europe/Sofia') (GMT+02:00) Sofia
          option(value='Europe/Tallinn') (GMT+02:00) Tallinn
          option(value='Europe/Vilnius') (GMT+02:00) Vilnius
          option(value='Africa/Addis_Ababa') (GMT+03:00) Addis Ababa
          option(value='Africa/Asmara') (GMT+03:00) Asmera
          option(value='Africa/Dar_es_Salaam') (GMT+03:00) Dar es Salaam
          option(value='Africa/Djibouti') (GMT+03:00) Djibouti
          option(value='Africa/Kampala') (GMT+03:00) Kampala
          option(value='Africa/Khartoum') (GMT+03:00) Khartoum
          option(value='Africa/Mogadishu') (GMT+03:00) Mogadishu
          option(value='Africa/Nairobi') (GMT+03:00) Nairobi
          option(value='Antarctica/Syowa') (GMT+03:00) Syowa
          option(value='Asia/Aden') (GMT+03:00) Aden
          option(value='Asia/Baghdad') (GMT+03:00) Baghdad
          option(value='Asia/Bahrain') (GMT+03:00) Bahrain
          option(value='Asia/Kuwait') (GMT+03:00) Kuwait
          option(value='Asia/Qatar') (GMT+03:00) Qatar
          option(value='Asia/Riyadh') (GMT+03:00) Riyadh
          option(value='Europe/Kaliningrad') (GMT+03:00) Moscow-01 - Kaliningrad
          option(value='Europe/Minsk') (GMT+03:00) Minsk
          option(value='Indian/Antananarivo') (GMT+03:00) Antananarivo
          option(value='Indian/Comoro') (GMT+03:00) Comoro
          option(value='Indian/Mayotte') (GMT+03:00) Mayotte
          option(value='Asia/Tehran') (GMT+03:30) Tehran
          option(value='Asia/Baku') (GMT+04:00) Baku
          option(value='Asia/Dubai') (GMT+04:00) Dubai
          option(value='Asia/Muscat') (GMT+04:00) Muscat
          option(value='Asia/Tbilisi') (GMT+04:00) Tbilisi
          option(value='Asia/Yerevan') (GMT+04:00) Yerevan
          option(value='Europe/Moscow') (GMT+04:00) Moscow+00
          option(value='Europe/Samara') (GMT+04:00) Moscow+00 - Samara
          option(value='Indian/Mahe') (GMT+04:00) Mahe
          option(value='Indian/Mauritius') (GMT+04:00) Mauritius
          option(value='Indian/Reunion') (GMT+04:00) Reunion
          option(value='Asia/Kabul') (GMT+04:30) Kabul
          option(value='Antarctica/Mawson') (GMT+05:00) Mawson
          option(value='Asia/Aqtau') (GMT+05:00) Aqtau
          option(value='Asia/Aqtobe') (GMT+05:00) Aqtobe
          option(value='Asia/Ashgabat') (GMT+05:00) Ashgabat
          option(value='Asia/Dushanbe') (GMT+05:00) Dushanbe
          option(value='Asia/Karachi') (GMT+05:00) Karachi
          option(value='Asia/Tashkent') (GMT+05:00) Tashkent
          option(value='Indian/Kerguelen') (GMT+05:00) Kerguelen
          option(value='Indian/Maldives') (GMT+05:00) Maldives
          option(value='Asia/Calcutta') (GMT+05:30) India Standard Time
          option(value='Asia/Colombo') (GMT+05:30) Colombo
          option(value='Asia/Katmandu') (GMT+05:45) Katmandu
          option(value='Antarctica/Vostok') (GMT+06:00) Vostok
          option(value='Asia/Almaty') (GMT+06:00) Almaty
          option(value='Asia/Bishkek') (GMT+06:00) Bishkek
          option(value='Asia/Dhaka') (GMT+06:00) Dhaka
          option(value='Asia/Thimphu') (GMT+06:00) Thimphu
          option(value='Asia/Yekaterinburg') (GMT+06:00) Moscow+02 -Yekaterinburg
          option(value='Indian/Chagos') (GMT+06:00) Chagos
          option(value='Asia/Rangoon') (GMT+06:30) Rangoon
          option(value='Indian/Cocos') (GMT+06:30) Cocos
          option(value='Antarctica/Davis') (GMT+07:00) Davis
          option(value='Asia/Bangkok') (GMT+07:00) Bangkok
          option(value='Asia/Hovd') (GMT+07:00) Hovd
          option(value='Asia/Jakarta') (GMT+07:00) Jakarta
          option(value='Asia/Omsk') (GMT+07:00) Moscow+03 - Omsk, Novosibirsk
          option(value='Asia/Phnom_Penh') (GMT+07:00) Phnom Penh
          option(value='Asia/Saigon') (GMT+07:00) Hanoi
          option(value='Asia/Vientiane') (GMT+07:00) Vientiane
          option(value='Indian/Christmas') (GMT+07:00) Christmas
          option(value='Antarctica/Casey') (GMT+08:00) Casey
          option(value='Asia/Brunei') (GMT+08:00) Brunei
          option(value='Asia/Choibalsan') (GMT+08:00) Choibalsan
          option(value='Asia/Hong_Kong') (GMT+08:00) Hong Kong
          option(value='Asia/Krasnoyarsk') (GMT+08:00) Moscow+04 - Krasnoyarsk
          option(value='Asia/Kuala_Lumpur') (GMT+08:00) Kuala Lumpur
          option(value='Asia/Macau') (GMT+08:00) Macau
          option(value='Asia/Makassar') (GMT+08:00) Makassar
          option(value='Asia/Manila') (GMT+08:00) Manila
          option(value='Asia/Shanghai') (GMT+08:00) China Time - Beijing
          option(value='Asia/Singapore') (GMT+08:00) Singapore
          option(value='Asia/Taipei') (GMT+08:00) Taipei
          option(value='Asia/Ulaanbaatar') (GMT+08:00) Ulaanbaatar
          option(value='Australia/Perth') (GMT+08:00) Western Time - Perth
          option(value='Asia/Dili') (GMT+09:00) Dili
          option(value='Asia/Irkutsk') (GMT+09:00) Moscow+05 - Irkutsk
          option(value='Asia/Jayapura') (GMT+09:00) Jayapura
          option(value='Asia/Pyongyang') (GMT+09:00) Pyongyang
          option(value='Asia/Seoul') (GMT+09:00) Seoul
          option(value='Asia/Tokyo') (GMT+09:00) Tokyo
          option(value='Pacific/Palau') (GMT+09:00) Palau
          option(value='Australia/Adelaide') (GMT+09:30) Central Time - Adelaide
          option(value='Australia/Darwin') (GMT+09:30) Central Time - Darwin
          option(value='Antarctica/DumontDUrville') (GMT+10:00) Dumont D'Urville
          option(value='Asia/Yakutsk') (GMT+10:00) Moscow+06 -Yakutsk
          option(value='Australia/Brisbane') (GMT+10:00) Eastern Time - Brisbane
          option(value='Australia/Hobart') (GMT+10:00) Eastern Time - Hobart
          option(value='Australia/Sydney') (GMT+10:00) Eastern Time - Melbourne, Sydney
          option(value='Pacific/Guam') (GMT+10:00) Guam
          option(value='Pacific/Port_Moresby') (GMT+10:00) Port Moresby
          option(value='Pacific/Saipan') (GMT+10:00) Saipan
          option(value='Pacific/Truk') (GMT+10:00) Truk
          option(value='Asia/Vladivostok') (GMT+11:00) Moscow+07 -Yuzhno-Sakhalinsk
          option(value='Pacific/Efate') (GMT+11:00) Efate
          option(value='Pacific/Guadalcanal') (GMT+11:00) Guadalcanal
          option(value='Pacific/Kosrae') (GMT+11:00) Kosrae
          option(value='Pacific/Noumea') (GMT+11:00) Noumea
          option(value='Pacific/Ponape') (GMT+11:00) Ponape
          option(value='Pacific/Norfolk') (GMT+11:30) Norfolk
          option(value='Asia/Kamchatka') (GMT+12:00) Moscow+08 -Petropavlovsk-Kamchatskiy
          option(value='Asia/Magadan') (GMT+12:00) Moscow+08 -Magadan
          option(value='Pacific/Auckland') (GMT+12:00) Auckland
          option(value='Pacific/Fiji') (GMT+12:00) Fiji
          option(value='Pacific/Funafuti') (GMT+12:00) Funafuti
          option(value='Pacific/Kwajalein') (GMT+12:00) Kwajalein
          option(value='Pacific/Majuro') (GMT+12:00) Majuro
          option(value='Pacific/Nauru') (GMT+12:00) Nauru
          option(value='Pacific/Tarawa') (GMT+12:00) Tarawa
          option(value='Pacific/Wake') (GMT+12:00) Wake
          option(value='Pacific/Wallis') (GMT+12:00) Wallis
          option(value='Pacific/Apia') (GMT+13:00) Apia
          option(value='Pacific/Enderbury') (GMT+13:00) Enderbury
          option(value='Pacific/Tongatapu') (GMT+13:00) Tongatapu
          option(value='Pacific/Fakaofo') (GMT+14:00) Fakaofo
          option(value='Pacific/Kiritimati') (GMT+14:00) Kiritimati
        label#e_alert_lbl.checkbox.span2
          input#e_alert(type='checkbox')
          | Google Calendar Alert
        br
      .modal-footer
        a#ok_btn.btn.pull-left(href='') Add
        a#cancel_btn.btn.btn-primary.pull-left(href='') Cancel
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
    script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js')
    script(src='/stylesheets/js/bootstrap-datepicker.js')
    script(src='/stylesheets/js/warranty_manager.js')
